html, body {margin: 0; height: 100%; overflow: hidden}

.wraper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.container {
    width: 30%;
    text-align: center; 
  }